<h1>Angular Animation Use Variables Demo</h1>
<div class="square"
    [@position]="{value:position, params:{time:animationTime, left:leftPosition}}">
    <b>square</b>
</div>
<div>
    <label>animation time in ms:</label>
    <br>
    <input class="text" type="string" placeholder="time in ms" [(ngModel)]="animationTime">
    <br><br>
    <label>left in px:</label>
    <br>
    <input class="text" type="string" placeholder="left in px" [(ngModel)]="leftPosition">
    <br>
    <button (click)="move()">move</button>
</div>